body{
    background-image: url(https://img.freepik.com/premium-vector/underwater-background-concept-reefs-corals-with-fish-silhouettes-sea-ocean-ecosystem-wildlife-flora-fauna-poster-banner-website-cartoon-flat-vector-illustration_1002658-1206.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
  }
ul{
    background-color: transparent;
    margin: 0;
    padding: 0;
}
li{
    display: block;
    list-style: none;
    float: left;
    border-right: 1px solid white; 


}
li a{
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: white;
    
}
li:active{
    background-color: white;
}
li:last-child{
    border-right: none;
}

    


div.words{
    float: right;
    color: white;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    text-align: center;
}
a{
    text-decoration: underline;
    color: white;
}
